                            /* Google Font  */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

                            /* Reset Section  */
*{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #02d0a1;
    --secondary-color: #000;
    --golden-color: #f6a622;
    --blue-color: #062caf;
    --red-color: #ff4949;
    --light-color: #1f2d3d;
}

                 /* ====================
                 Header Section
                ================== */
.header {
    min-height: 10vh;
    width: 100%;
    border: 2px solid black;
}

.header .nav-bar {
    display: flex;
    min-height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.header .nav-bar ul.nav-links {
    display: flex;
    margin-left: 2rem;
    flex-wrap: wrap;
}

.header .nav-bar .nav-links .li-link {
    list-style-type: none;
    padding: 0.4rem;
    margin-right: 2rem;
}

/* .header .nav-bar .btn-section .sign-In,.Login {
    padding: 8px 20px 8px 20px;
    border-radius: 3px;
    color: var(--primary-color);
} */

button.sign-In {
    background-color: var(--golden-color);
    border: 1px solid car(--primary-color);
}

.header .nav-bar .btn-section .Login {
    color: black;
    border: 1px solid var(--primary-color);
    background-color: white;
}

.header .nav-bar .btn-section .Login:hover {
    background-color: var(--light-color);
    color: white;
    transition: 0.4s ease-in-out;

}








